<div class="alert alert-info" markdown="0" style="margin-top: 3rem">
<ul>
  <li>
    <strong>Over-the-air Updates:</strong>
    [[CalyxOS updates => updates]] are delivered over-the-air (OTA) automatically, without any manual intervention needed. However, if you'd like to manually update your CalyxOS install, see [[OTA => ota]].
  </li>
  <li>
    <strong>Security Updates:</strong>
    The <strong>Pixels 7 Pro, 7, 6a, 6 Pro, 6, 5a (5G), 4a (5G), 5, 4a, 4 XL, 4</strong> contain the full security patch, as they are still being updated by Google.
  </li>
  <li>
    <strong>End-of-life:</strong>
    The <strong>Pixels 4 XL, 4, 3a XL, 3a, 3 XL, 3</strong> are no longer being updated by Google, so the CalyxOS releases for these devices only contain the fixes to the open source components, such as the OS code and the Linux kernel. Proprietary components such as the bootloader, modem firmware, and other firmware no longer get updates.
  </li>
</ul>
</div>